actions:
  1:
    action: delete_indices
    description: 'Delete indices older than @@NUMBER_OF_DAYS days (based on index name), for logstash- prefixed indices. 
    Ignore the error if the filter does not result in an actionable list of indices (ignore_empty_list) and exit cleanly.'
    options:
      ignore_empty_list: True
      timeout_override:
      continue_if_exception: False
    filters:
    - filtertype: pattern
      kind: prefix
      value: logstash-
      exclude:
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: @@NUMBER_OF_DAYS
      exclude:
